body{
    font-family: 'lato', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-color:black;
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.device{
    size: 30px 30px;
}
.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: auto;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;
}
.limitOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    margin-right: auto;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 40px;
    cursor: pointer;
    color: rgb(211, 211, 211);
    font-weight: 400;
}
.slider{
    background-color: rgb(76, 58, 144);
    clip-path: path(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.sliderWrapper{
    display: flex;
    width: 100%;
    margin-left: 20px;
    transition: all 1.5s ease-in-out;
}
.sliderItem{
    width: 100vw;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    position: relative;
}
/*.slideBg{
    width: 250px;
    height: 200px;
    border-radius: 30%;
    position: absolute;
    background-color: yellow;
}*/
.sliderImg{
    align-items: center;
    justify-content: center;
}

.sliderTitle{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.sliderPrice{
    top: 0%;
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.buybutton{
    top: 0%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: white;
    background-color: rgb(12, 1, 1);
    cursor: pointer;
}
.buybutton:hover{
    background-color: white;
    color: black;
}
.sliderItem:nth-child(2) .sliderTitle{
    color: rgb(239, 169, 84);
}
.sliderItem:nth-child(3) .sliderTitle{
    color: rgb(243, 96, 5);
}
.sliderItem:nth-child(2) .slider{
    background-color: rgb(20, 112, 112);
}
.sliderItem:nth-child(3) .slider{
    background-color: rgb(33, 242, 242);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;

}
.featureIcon{
    width: 50px;
    height: 50px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureDesc{
    font-size: 1em;
    color: grey;
    width: 50%;
    height: 100px;
}
.product{
    height: 10vh;
    background-color: #fff;
    position: relative;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 70%;
    padding: 2px;
}
.productTitle{
    font-size: 30px;
    color: rgb(35, 99, 37);

}
.productPrice{
    font-size: 26px;

}
.productDesc{
    font-style: "Noto Sans", sans-serif;
    font-size: 1em;
    color: gray;

}
.sizes{
    display: flex;
    position: absolute;
    top: 170%;
    right: 0;
    width: 70%;    
    margin-bottom: 20px;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;

}
.productButton{
    display: flex;
    position: absolute;
    top: 170%;  
    right: 0;
    width: 15%;
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(155, 101, 1);
    cursor: pointer;
    float: right;

}